body, html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding: 0 30px;
  color: #fff;
  height: 65px;
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 8px -4px #b3b1b3;
  z-index: 1000;
}

header h1 {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 5px 0 18px;
}

header .banner {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

header .other {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

header a [class^="fas fa-"] {
  color: white;
  font-size: 1.4em;
  font-style: bold;
  line-height: 1;
  padding: 5px;
}

header .nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.other p {
  margin-right: 20px; /* Adjust the margin-right value to add space between the message and the button */
}

.right-content {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Increase the margin-right value to add more space */
}

.BC-Gov-PrimaryButton-Dark {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #313132;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.BC-Gov-PrimaryButton-Dark:hover {
text-decoration: underline;
background-color: #f2f2f2
}

:focus {
outline: 4px solid #3B99FC;
outline-offset: 1px;
}

.BC-Gov-PrimaryButton-Dark:active {
background-color: #fff;
}
