// Home.scss

@import "~@bcgov/design-tokens/css/variables.css";

.button {
    background-color: var(--bcds-surface-primary-default);
    color: var(--bcds-text-primary-invert);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  